@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.register-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: calc(100% - 40px); /* Ajusta el ancho del input para dejar espacio al icono */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle; /* Alinea verticalmente el input con el icono */
}

.input-field i {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición del icono */
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc; /* Color del icono */
    cursor: pointer;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #719eb1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #567b8f;
}


.logo {
    text-align: center; /* Centra el logo horizontalmente */
}

.logo img {
    max-width: 100%; /* Establece el ancho máximo del logo al 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto del logo */
    max-height: 100px; /* Establece la altura máxima del logo */
}
