@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: calibri;
}

.logo img {
	position: absolute;
	left: 220px;
	top: 110px;
	width: 264px;
	height: 264px;
}

.loginRegistrer p {
	position: absolute;
	left: 266px;
	top: 380px;
	font-size: 18px;
	font-weight: 400;
}

.loginF {
	position: absolute;
	left: 810px;
	top: 40px;
	width: 400px;
	height: 440px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginF form {
	width: 100%;
	padding: 40px;
}

.loginF form h4{
	position: absolute;
	left: 104px;
	top: 103px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.inputBox {
	position: relative;
	width: 80%;
	height: 50px;
	border-bottom: 2px solid black;
	margin: 30px 0;
}

.inputBox label {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: transalteY(-50%);
	font-size: 14px;
	font-weight: 400;
	color: black;
	pointer-events: none;
	transition: .3s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
	top: -5px;
}

.inputBox input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 6px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 15px;
	color: black;
	font-weight: 400;
}

.inputBox img {
	position: absolute;
	left: 235px;
	top: 23px;
	width: 18px;
	height: 18px;
}

.recordarContraseña {
	font-size: 13px;
	font-weight: 400px;
	color: black;	
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between; 
	position: absolute;
	left: 160px;
	top: 312px;
}

.recordarContraseña a{
	color: black;
	text-decoration: none;
}

.recordarContraseña a:hover{
	text-decoration: underline;
}

.btn {
	width: 50%;
	height: 45px;
	background: #719eb1;
	border: 1px solid black;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600; 	
	color: #04191e;
	position: absolute;
	left: 72px;
	top: 335px;
}

.btnRegistrar {
	width: 150px;
	height: 45px;
	background: #719eb1;
	border: 1px solid black;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 600; 	
	color: #04191e;
	position: absolute;
	left: 276px;
	top: 420px;
}